<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>

        		<li><a href="/archive">Archive</a></li>
				<li><a href="/category">Category</a></li>
				<li><a href="/tag">Tag</a></li>
    		</ul>
		</nav>
		<div class="container">


			{{content}}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="zhangyingzhianja@gmail.com">email</a></li>
        		<li><a href="https://github.com/yingzgigi">github.com/yingzgigi</a></li>
			</ul>
		</footer>
	</body>
</html>
